/* FilmRelated.css */
.centered-container {
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .title {
        margin-top: 50px;
        margin-right: 200px;
        font-size: 30px;
        font-weight: bold;
        color: #000000;
        text-align: center;
      }
  }
  
  .FilmRelatedCard {
    margin-top: 30px;
    width: auto;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; // Thêm hiệu ứng trượt và opacity

  
    &:hover {
      transform: scale(1.05);
    }
  }
  
  .FilmRelatedImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .FilmRelatedTitle {
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  
  /* FilmRelated.scss */

.pagination {
    margin-right: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
  
    li {
      display: inline-block;
      margin-right: 5px;
    }
  
    a {
      color: #333;
      cursor: pointer;
      padding: 6px 12px;
      border: 1px solid #ddd;
      border-radius: 4px;
      text-decoration: none;
      transition: background-color 0.3s ease-in-out;
  
      &:hover {
        background-color: #2a1a1a;
      }
  
      &.active {
        background-color: #007bff;
        color: #fff;
        border: 1px solid #007bff;
      }
    }
  }
  
  .film-slide {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .indicator.active {
    background: #fff;
  } 
  
  /* Other styles */